{
  "prepare": [
    "@semantic-release/npm",
    {
      "//": "adds a file to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "echo '' > dist/STANDALONE"
    },
    {
      "//": "build the alpine, macos, linux and windows binaries",
      "path": "@semantic-release/exec",
      "cmd": "npx pkg . -t node14-linux-x64,node14-macos-x64,node14-win-x64"
    },
    {
      "//": "shasum all binaries",
      "path": "@semantic-release/exec",
      "cmd": "shasum -a 256 snyk-scm-contributors-count-linux > snyk-scm-contributors-count-linux.sha256 && shasum -a 256 snyk-scm-contributors-count-macos > snyk-scm-contributors-count-macos.sha256 && shasum -a 256 snyk-scm-contributors-count-win.exe > snyk-scm-contributors-count-win.exe.sha256"
    },
    {
      "//": "removes the file we use to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "rm dist/STANDALONE"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./snyk-scm-contributors-count-linux",
          "name": "snyk-scm-contributors-count-linux",
          "label": "snyk-scm-contributors-count-linux"
        },
        {
          "path": "./snyk-scm-contributors-count-linux.sha256",
          "name": "snyk-scm-contributors-count-linux.sha256",
          "label": "snyk-scm-contributors-count-linux.sha256"
        },
        {
          "path": "./snyk-scm-contributors-count-macos",
          "name": "snyk-scm-contributors-count-macos",
          "label": "snyk-scm-contributors-count-macos"
        },
        {
          "path": "./snyk-scm-contributors-count-macos.sha256",
          "name": "snyk-scm-contributors-count-macos.sha256",
          "label": "snyk-scm-contributors-count-macos.sha256"
        },
        {
          "path": "./snyk-scm-contributors-count-win.exe",
          "name": "snyk-scm-contributors-count-win.exe",
          "label": "snyk-scm-contributors-count-win.exe"
        },
        {
          "path": "./snyk-scm-contributors-count-win.exe.sha256",
          "name": "snyk-scm-contributors-count-win.exe.sha256",
          "label": "snyk-scm-contributors-count-win.exe.sha256"
        }
      ]
    }
  ],
  "branches": [
    "main",
    {
      "name": "alpha",
      "prerelease": true
    }
  ]
}
