version: 2.1
orbs:
    snyk: snyk/snyk@1.2.3

parameters:
    monitor-context:
        description: CircleCI context used by Snyk scan jobs.
        type: string
        default: snyk-growth-monitor

jobs:
    build-test-monitor:
        docker:
            - image: circleci/node:latest
        steps:
            - checkout
            - run: npm install semantic-release @semantic-release/exec pkg --save-dev --legacy-peer-deps
            - run: npm install
            - run: npm run build
            - run: npm test
            - snyk/scan:
                fail-on-issues: true
                monitor-on-build: true
                token-variable: SNYK_TOKEN
            - run: npx semantic-release
    build-test:
        docker:
            - image: circleci/node:latest
        steps:
            - checkout
            - run: npm install
            - run: npm run build
            - run: npm test
            - snyk/scan:
                fail-on-issues: true
                monitor-on-build: false
                token-variable: SNYK_TOKEN
    build-test-from-fork:
        docker:
            - image: circleci/node:latest
        steps:
            - checkout
            - run: npm install
            - run: npm run build
            - run: npm test

workflows:
    version: 2
    nightly:
        triggers:
          - schedule:
              cron: "0 0 * * *"
              filters:
                branches:
                  only:
                    - main
        jobs:
            - build-test-monitor:
                context:
                    - << pipeline.parameters.monitor-context >>

    build-test-monitor:
        jobs:
            - build-test-monitor:
                context:
                    - << pipeline.parameters.monitor-context >>
                filters:
                    branches:
                        only:
                            - main

    build-test:
        jobs:
            - build-test:
                context:
                    - << pipeline.parameters.monitor-context >>
                filters:
                    branches:
                        ignore:
                        - main
                        - /pull\/[0-9]+/
            - build-test-from-fork:
                context:
                    - << pipeline.parameters.monitor-context >>
                filters:
                    branches:
                        only:
                        - /pull\/[0-9]+/